<div class="o-navbar c-navbar" style="height:40px;margin-bottom:0;" data-reactid="3">
    <div class="c-navbar__top c-navbar__top--blue" data-reactid="4">
        <div class="c-navbar__site-container" data-reactid="5">
            <a href="https://app.nav.com" class="c-navbar__logo" data-reactid="6"><img src="https://dxkdvuv3hanyu.cloudfront.net/images/nav/logo-name-blue.svg" height="21px" data-reactid="7"></a>
            <!-- react-empty: 8 -->
        </div>
    </div>
    <!-- react-empty: 9 -->
</div>