<nav class="c-meeting-room-page">

            <div class="c-meeting-times-column {% if page.title == 'Stacks' %}is-active{% endif %}">
            <a href="\pages\Stacks.html" class="button button-primary" >
                Stacks 
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Bones' %}is-active{% endif %}">
            <a href="\pages\Bones.html" class="button button-primary">
                Bones
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Franklin' %}is-active{% endif %}">
            <a href="\pages\Franklin.html" class="button button-primary">
                Franklin
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Lucre' %}is-active{% endif %}">                
            <a href="\pages\Lucre.html" class="button button-primary">
                Lucre
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Cheddar' %}is-active{% endif %}">
            <a href="\pages\Cheddar.html" class="button button-primary">
                Cheddar
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Quid' %}is-active{% endif %}">
            <a href="\pages\Quid.html" class="button button-primary">
                Quid
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'Scrilla' %}is-active{% endif %}">
            <a href="\pages\Scrilla.html" class="button button-primary">
                Scrilla
            </a>
            {% include times.html %}
            </div>
            <div class="c-meeting-times-column {% if page.title == 'AdminOffice' %}is-active{% endif %}">
            <a href="\pages\AdminOffice.html" class="button button-primary">
                Admin Office
            </a>
            {% include times.html %}
            </div>
</nav>