<div class="container">
 
  <div class="c-time">8:00</div>
 

  <div class="c-time">8:30</div>


  <div class="c-time">9:00</div>


  <div class="c-time ">9:30</div>


  <div class="c-time">10:00</div>


  <div class="c-time">9:30</div>


  <div class="c-time">10:00</div>


  <div class="c-time">10:30</div>


  <div class="c-time">11:00</div>


  <div class="c-time">11:30</div>


  <div class="c-time">12:00</div>


  <div class="c-time">12:30</div>


  <div class="c-time">1:00</div>


  <div class="c-time">1:30</div>


  <div class="c-time">2:00</div>


  <div class="c-time">3:30</div>


  <div class="c-time">4:00</div>


  <div class="c-time">4:30</div>


  <div class="c-time">5:00</div>
</div>